$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

body {
  font-family: 'Open Sans', sans-serif;
}

#app {
  overflow: hidden;
}

.content {
  min-height: calc(100vh - 74px - 73px);
}

.navbar-static-bottom{
  border-radius: 0px;
}

.lb-lg {
  font-size: 18px;
}

.col-sm-6 {
  margin-top: 10px;
  padding-top: 20px;

  img {
    width: 100%;
    height: auto;
    transition: .5s;
  }

  a:hover img {
    box-shadow: 0 0 20px #B1C8B4;
  }
}

.fixed-height {
  @media (min-width: $screen-sm) {
    height: 405px;
    overflow-x: visible;
    overflow-y: hidden;
  }
}

.fixed-height2 {
  @media (min-width: $screen-sm) {
    height: 350px;
    overflow-x: visible;
    overflow-y: hidden;
  }
}

.m30 {
  margin-top: 20px;
}

.header-margin-fix {
  margin-top: 11px;
}

.first-item {
  margin-top: 0;
}

.custom-dropdown-form {
  padding: 7px;
  min-width: 200px;

  .form-group:last-of-type {
    margin-bottom: 0;
  }
}

footer.navbar-static-bottom {
  margin-bottom: 0;
  margin-top: 22px;
  //background-color: #fff;
  a,
  .navbar-text {
    color: #aaa;
  }

  i {
    color: #ddd;
  }

  .pull-left {
    margin-left: 0;
  }

  .pull-right {
    margin-right: 0;
  }
}

div.active {
    /*border: 1px solid #555;*/
    background: #888;
}


@media (min-width: $screen-sm) {  }

@media (min-width: $screen-md) {  }

@media (min-width: $screen-lg) {  }
